




<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Structure Ligne Corps</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" [routerLink]="['/structure/corpAdd']">Ajouter structure ligne corp</a>
               
                <div class="dropdown-divider"></div>
                
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" *ngIf="corpStructure" datatable [dtOptions]="dtOptions" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Type</th>
                        <th>Taille</th>
                        <th>Table</th>
                        <th>Champ</th>
                        <th>Commentaire</th>
                        <th>Structure Type</th>
                        <th></th>
                    </tr>

                </thead>
                <tfoot>
                    <tr>
                        <th>Designation</th>
                        <th>Type</th>
                        <th>Taille</th>
                        <th>Table</th>
                        <th>Champ</th>
                        <th>Commentaire</th>
                        <th>Structure Type</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let corp of corpStructure">
                        <td>{{ corp.designation }}</td>
                        <td>{{ corp.type  }}</td>
                        <td>{{ corp.taille }}</td>

                        <td>{{corp.table }}</td>
                        <td>{{corp.champ }}</td>

                        <td>{{corp.commentaire }}</td>
                        <td> {{ corp.corpType }}</td>
                        <td>
                        <div class="row">
                            <button class="btn btn-danger btn-sm col-md-6" (click)="DeleteCorp(corp.idStruct)">
                                <i class="fas fa-trash"></i> 
                            </button>
    
                            <button class="btn btn-warning btn-circle btn-sm col-md-6" (click)="UpdateCorp(corp.idStruct)">
                                <i class="fas fa-edit"></i>
                            </button>

                            
                        </div>
                    </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>