<div class="container">
    <div class="row">
        <div class="card shadow ">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">ajouter Rapport opération devise</h6>
            </div>
            <div class="card-body">
                <form [formGroup]="updateRapportODFormGroup" (ngSubmit)="updateRapportOD()">
                    <div class="card mb-4">
                        <div class="card-header">
                            Ligne Entete:
                        </div>
                        <div class="card-body" formGroupName="entete">
                            <div class="row" >
                                <div class="form-group col-md-4">
                                    <label>Numéro Déclaration Entete</label>
                                    <input type="text" class="form-control" formControlName="ndecl" [(ngModel)]="rapportOD.entete.ndecl" readonly>
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('entete.ndecl')!.touched &&
                                    updateRapportODFormGroup.get('entete.ndecl')!.errors) ">
                                        Numéro Déclaration LigneEntete est obligatoire
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>ktenr</label>
                                    <input type="text" class="form-control" formControlName="ktenr" [(ngModel)]="rapportOD.entete.ktenr">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('entete.ktenr')!.touched &&
                                    updateRapportODFormGroup.get('entete.ktenr')!.errors) ">
                                        code enregistrement pour Ligne Entete est obligatoire
                                    </span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>kte Entete</label>
                                    <input type="text" class="form-control" formControlName="kte" [(ngModel)]="rapportOD.entete.kte">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('entete.kte')!.touched &&
                                    updateRapportODFormGroup.get('entete.kte')!.errors) ">
                                        kte Ligne Entete est obligatoire
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>ddecl Entete</label>
                                    <input type="date" class="form-control" formControlName="ddecl" [(ngModel)]="rapportOD.entete.ddecl">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('entete.ddecl')!.touched &&
                                    updateRapportODFormGroup.get('entete.ddecl')!.errors) ">
                                        ddecl Ligne Entete est obligatoire
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>kmdecl Entete</label>
                                    <input type="text" class="form-control" formControlName="kmdecl" [(ngModel)]="rapportOD.entete.kmdecl">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('entete.kmdecl')!.touched &&
                                    updateRapportODFormGroup.get('entete.kmdecl')!.errors) ">
                                        kmdecl Ligne Entete est obligatoire
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>demiss Entete</label>
                                    <input type="date" class="form-control" formControlName="demiss" [(ngModel)]="rapportOD.entete.demiss">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('entete.demiss')!.touched &&
                                    updateRapportODFormGroup.get('entete.demiss')!.errors) ">
                                        demiss Ligne Entete est obligatoire
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Numéro Déclaration</label>
                            <input type="text" class="form-control" formControlName="numeroDeclaration" [(ngModel)]="rapportOD.numeroDeclaration" readonly>
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['numeroDeclaration'].touched &&
                           updateRapportODFormGroup.controls['numeroDeclaration'].errors) && 
                           updateRapportODFormGroup.controls['numeroDeclaration'].errors!['required']">
                                Numero Declaration est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Code Enregistrement</label>
                            <input type="text" class="form-control" formControlName="codeEnregistrement" [(ngModel)]="rapportOD.codeEnregistrement">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['codeEnregistrement'].touched &&
                           updateRapportODFormGroup.controls['codeEnregistrement'].errors) && 
                           updateRapportODFormGroup.controls['codeEnregistrement'].errors!['required']">
                                Code Enregistrement est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Code Operation</label>
                            <input type="text" class="form-control" formControlName="codeOperation" [(ngModel)]="rapportOD.codeOperation">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['codeOperation'].touched &&
                           updateRapportODFormGroup.controls['codeOperation'].errors) && 
                           updateRapportODFormGroup.controls['codeOperation'].errors!['required']">
                                Code Operation est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Type Identifiant Client</label>
                            <input type="text" class="form-control" formControlName="typeIdentifiantClient" [(ngModel)]="rapportOD.typeIdentifiantClient">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['typeIdentifiantClient'].touched &&
                           updateRapportODFormGroup.controls['typeIdentifiantClient'].errors) && 
                           updateRapportODFormGroup.controls['typeIdentifiantClient'].errors!['required']">
                                Type Identifiant Client est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>numéro Identifiant Client</label>
                        <input type="text" class="form-control" formControlName="numIdentifiantClient" [(ngModel)]="rapportOD.numIdentifiantClient">
                        <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['numIdentifiantClient'].touched &&
                           updateRapportODFormGroup.controls['numIdentifiantClient'].errors) && 
                           updateRapportODFormGroup.controls['numIdentifiantClient'].errors!['required']">
                            Numéro Identifiant Client est obligatoire
                        </span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Code Agence Declarant</label>
                            <input type="text" class="form-control" formControlName="codeAgenceDeclarant" [(ngModel)]="rapportOD.codeAgenceDeclarant">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['codeAgenceDeclarant'].touched &&
                           updateRapportODFormGroup.controls['codeAgenceDeclarant'].errors) && 
                           updateRapportODFormGroup.controls['codeAgenceDeclarant'].errors!['required']">
                                Code Agence Declarant est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Identifiant Interne Operation</label>
                            <input type="text" class="form-control" formControlName="identifiantInterneOperation" [(ngModel)]="rapportOD.identifiantInterneOperation">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['identifiantInterneOperation'].touched &&
                           updateRapportODFormGroup.controls['identifiantInterneOperation'].errors) && 
                           updateRapportODFormGroup.controls['identifiantInterneOperation'].errors!['required']">
                                Identifiant Interne Operation est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Date Operation</label>
                            <input type="date" class="form-control" formControlName="dateOperation" [(ngModel)]="rapportOD.dateOperation">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['dateOperation'].touched &&
                           updateRapportODFormGroup.controls['dateOperation'].errors) && 
                           updateRapportODFormGroup.controls['dateOperation'].errors!['required']">
                                Date Operation est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Code Type Operation</label>
                            <input type="text" class="form-control" formControlName="codeTypeOperation" [(ngModel)]="rapportOD.codeTypeOperation">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['codeTypeOperation'].touched &&
                           updateRapportODFormGroup.controls['codeTypeOperation'].errors) && 
                           updateRapportODFormGroup.controls['codeTypeOperation'].errors!['required']">
                                Code Type Operation est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Code Devise</label>
                            <input type="text" class="form-control" formControlName="codeDevise" [(ngModel)]="rapportOD.codeDevise">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['codeDevise'].touched &&
                           updateRapportODFormGroup.controls['codeDevise'].errors) && 
                           updateRapportODFormGroup.controls['codeDevise'].errors!['required']">
                                Code Devise est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Montant EnDevise</label>
                            <input type="text" class="form-control" formControlName="montantEnDevise" [(ngModel)]="rapportOD.montantEnDevise">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['montantEnDevise'].touched &&
                           updateRapportODFormGroup.controls['montantEnDevise'].errors) && 
                           updateRapportODFormGroup.controls['montantEnDevise'].errors!['required']">
                                Montant En Devise est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Montant En Dinar</label>
                            <input type="text" class="form-control" formControlName="montantEnDinar" [(ngModel)]="rapportOD.montantEnDinar">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['montantEnDinar'].touched &&
                           updateRapportODFormGroup.controls['montantEnDinar'].errors) && 
                           updateRapportODFormGroup.controls['montantEnDinar'].errors!['required']">
                                Montant En Dinar est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Numéro Declaration Douane</label>
                            <input type="text" class="form-control" formControlName="numDeclarationDouane" [(ngModel)]="rapportOD.numDeclarationDouane">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['numDeclarationDouane'].touched &&
                           updateRapportODFormGroup.controls['numDeclarationDouane'].errors) && 
                           updateRapportODFormGroup.controls['numDeclarationDouane'].errors!['required']">
                                Numéro Declaration Douane est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Date Declaration Douane</label>
                            <input type="date" class="form-control" formControlName="dateDeclarationDouane" [(ngModel)]="rapportOD.dateDeclarationDouane">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['dateDeclarationDouane'].touched &&
                           updateRapportODFormGroup.controls['dateDeclarationDouane'].errors) && 
                           updateRapportODFormGroup.controls['dateDeclarationDouane'].errors!['required']">
                                Date Declaration Douane est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Montant Declaré En Douane</label>
                            <input type="text" class="form-control" formControlName="montantDeclareEnDouane" [(ngModel)]="rapportOD.montantDeclareEnDouane">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['montantDeclareEnDouane'].touched &&
                           updateRapportODFormGroup.controls['montantDeclareEnDouane'].errors) && 
                           updateRapportODFormGroup.controls['montantDeclareEnDouane'].errors!['required']">
                                Montant Declare En Douane est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Type Identifiant Beneficiaire PP</label>
                            <input type="text" class="form-control" formControlName="typeIdentifiantBeneficiairePP" [(ngModel)]="rapportOD.typeIdentifiantBeneficiairePP">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['typeIdentifiantBeneficiairePP'].touched &&
                           updateRapportODFormGroup.controls['typeIdentifiantBeneficiairePP'].errors) && 
                           updateRapportODFormGroup.controls['typeIdentifiantBeneficiairePP'].errors!['required']">
                                Type Identifiant Beneficiaire PP est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Numéro Identifiant Beneficiaire PP</label>
                            <input type="text" class="form-control" formControlName="numIdentifiantBeneficiairePP" [(ngModel)]="rapportOD.numIdentifiantBeneficiairePP">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['numIdentifiantBeneficiairePP'].touched &&
                           updateRapportODFormGroup.controls['numIdentifiantBeneficiairePP'].errors) && 
                           updateRapportODFormGroup.controls['numIdentifiantBeneficiairePP'].errors!['required']">
                                Numéro Identifiant Beneficiaire PP est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Type Identifiant Beneficiaire PM</label>
                            <input type="text" class="form-control" formControlName="typeIdentifiantBeneficiairePM" [(ngModel)]="rapportOD.typeIdentifiantBeneficiairePM">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['typeIdentifiantBeneficiairePM'].touched &&
                           updateRapportODFormGroup.controls['typeIdentifiantBeneficiairePM'].errors) && 
                           updateRapportODFormGroup.controls['typeIdentifiantBeneficiairePM'].errors!['required']">
                                Type Identifiant Beneficiaire PM est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Numéro Identifiant Beneficiaire PM</label>
                            <input type="text" class="form-control" formControlName="numIdentifiantBeneficiairePM" [(ngModel)]="rapportOD.numIdentifiantBeneficiairePM">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['numIdentifiantBeneficiairePM'].touched &&
                           updateRapportODFormGroup.controls['numIdentifiantBeneficiairePM'].errors) && 
                           updateRapportODFormGroup.controls['numIdentifiantBeneficiairePM'].errors!['required']">
                                Numéro Identifiant Beneficiaire PM est obligatoire
                            </span>
                        </div>

                        <div class="form-group col-md-3">
                            <label>RIB Beneficiaire</label>
                            <input type="text" class="form-control" formControlName="ribBeneficiaire" [(ngModel)]="rapportOD.ribBeneficiaire">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['ribBeneficiaire'].touched &&
                           updateRapportODFormGroup.controls['ribBeneficiaire'].errors) && 
                           updateRapportODFormGroup.controls['ribBeneficiaire'].errors!['required']">
                                RIB Beneficiaire est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Type Compte Beneficiaire</label>
                            <input type="text" class="form-control" formControlName="typeCompteBeneficiaire" [(ngModel)]="rapportOD.typeCompteBeneficiaire">
                            <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['typeCompteBeneficiaire'].touched &&
                           updateRapportODFormGroup.controls['typeCompteBeneficiaire'].errors) && 
                           updateRapportODFormGroup.controls['typeCompteBeneficiaire'].errors!['required']">
                                Type Compte Beneficiaire est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Code Pays Expediteur Des Fonds</label>
                        <input type="text" class="form-control" formControlName="codePaysExpediteurDesFonds" [(ngModel)]="rapportOD.codePaysExpediteurDesFonds">
                        <span class="text-danger" *ngIf="(updateRapportODFormGroup.controls['codePaysExpediteurDesFonds'].touched &&
                           updateRapportODFormGroup.controls['codePaysExpediteurDesFonds'].errors) && 
                           updateRapportODFormGroup.controls['codePaysExpediteurDesFonds'].errors!['required']">
                            Code Pays Expediteur Des Fonds est obligatoire
                        </span>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">
                            Ligne Fin
                        </div>
                        <div class="card-body" formGroupName="fin">
                            <div class="row" >
                                <div class="form-group col-md-4">
                                    <label>Numéro Déclaration Entete</label>
                                    <input type="text" class="form-control" formControlName="ndecl" [(ngModel)]="rapportOD.fin.ndecl" readonly>
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('fin.ndecl')!.touched &&
                                    updateRapportODFormGroup.get('fin.ndecl')!.errors) ">
                                        Numéro Déclaration Ligne Entete est obligatoire
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>ktenr Entete</label>
                                    <input type="text" class="form-control" formControlName="ktenr" [(ngModel)]="rapportOD.fin.ktenr">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('fin.ktenr')!.touched &&
                                    updateRapportODFormGroup.get('fin.ktenr')!.errors) ">
                                        ktenr Ligne Entete est obligatoire
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>tot_MVT Entete</label>
                                    <input type="text" class="form-control" formControlName="tot_MVT" [(ngModel)]="rapportOD.fin.tot_MVT">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('fin.tot_MVT')!.touched &&
                                    updateRapportODFormGroup.get('fin.tot_MVT')!.errors) ">
                                        tot_MVT Ligne Entete est obligatoire
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>v_CPT2 Entete</label>
                                    <input type="text" class="form-control" formControlName="v_CPT2" [(ngModel)]="rapportOD.fin.v_CPT2">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('fin.v_CPT2')!.touched &&
                                    updateRapportODFormGroup.get('fin.v_CPT2')!.errors) ">
                                        v_CPT2 Ligne Entete est obligatoire
                                    </span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>v_CPT3 Entete</label>
                                    <input type="text" class="form-control" formControlName="v_CPT3" [(ngModel)]="rapportOD.fin.v_CPT3">
                                    <span class="text-danger" *ngIf="(updateRapportODFormGroup.get('fin.v_CPT3')!.touched &&
                                    updateRapportODFormGroup.get('fin.v_CPT3')!.errors) ">
                                        v_CPT3 Ligne Entete est obligatoire
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <button [disabled]="!updateRapportODFormGroup.valid" type="submit" class="btn btn-success">
                                Modifier
                            </button>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-light btn-icon-split" (click)="ViderForm()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>