<div class="container">
    <div class="row">
        <div class="card shadow ">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">modifier structure ligne corp</h6>
            </div>
            <div class="card-body">
                <form [formGroup]="UpdateForm" (ngSubmit)="updateStruct()">
                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Designation</label>
                            <input type="text" class="form-control" formControlName="designation" [(ngModel)]="structureCorp.designation">
                            <span class="text-danger" *ngIf="(UpdateForm.controls['designation'].touched &&
                           UpdateForm.controls['designation'].errors) && 
                           UpdateForm.controls['designation'].errors!['required']">
                            Designation est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Type</label>
                            <input type="text" class="form-control" formControlName="type" [(ngModel)]="structureCorp.type">
                            <span class="text-danger" *ngIf="(UpdateForm.controls['type'].touched &&
                           UpdateForm.controls['type'].errors) && 
                           UpdateForm.controls['type'].errors!['required']">
                                Type est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Taille</label>
                            <input type="text" class="form-control" formControlName="taille" [(ngModel)]="structureCorp.taille">
                            <span class="text-danger" *ngIf="(UpdateForm.controls['taille'].touched &&
                           UpdateForm.controls['taille'].errors) && 
                           UpdateForm.controls['taille'].errors!['required']">
                                Taille est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Table</label>
                            <input type="text" class="form-control" formControlName="table" [(ngModel)]="structureCorp.table">
                            <span class="text-danger" *ngIf="(UpdateForm.controls['table'].touched &&
                           UpdateForm.controls['table'].errors) && 
                           UpdateForm.controls['table'].errors!['required']">
                                Table est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Champ</label>
                        <input type="text" class="form-control" formControlName="champ" [(ngModel)]="structureCorp.champ">
                        <span class="text-danger" *ngIf="(UpdateForm.controls['champ'].touched &&
                           UpdateForm.controls['champ'].errors) && 
                           UpdateForm.controls['champ'].errors!['required']">
                            Champ est obligatoire
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Commentaire</label>
                        <input type="text" class="form-control" formControlName="commentaire" [(ngModel)]="structureCorp.commentaire">
                        <span class="text-danger" *ngIf="(UpdateForm.controls['commentaire'].touched &&
                           UpdateForm.controls['commentaire'].errors) && 
                           UpdateForm.controls['commentaire'].errors!['required']">
                            commentaire est obligatoire
                        </span>
                    </div>

                    <div class="form-group">
                        <label>corp Type</label>
                        <select (change)="changeType($event)" class="select" formControlName="corpType" [(ngModel)]="structureCorp.corpType">
                            <option value="">Choisir Type</option>
                            <option *ngFor="let corp of CorpType" [ngValue]="corp">
                                {{ corp }}
                              </option>
                            </select>
                        <span class="text-danger" *ngIf=" corpType?.invalid">
                            corpType est obligatoire
                        </span>
                    </div>

                       
                    <div class="row">
                        <div class="form-group col-md-2">
                            <button [disabled]="!UpdateForm.valid" type="submit" class="btn btn-success">
                                Update
                            </button>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-light btn-icon-split" (click)="ViderForm()">Cancel</button>
                        </div>
                    </div>

                    </form>
                    </div>
                    </div>
                    </div>
                    