<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="card shadow mb-4 ">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nombre des rejets</h6>
        </div>
        <div class="card-body">
            <div class="">
                <canvas id="myAreaChart" baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="'pie'">></canvas>
            </div>
           
        </div>
    </div>

</div>

</div>