<div class="container">
    <div class="row">
        <div class="card shadow ">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">ajouter structure ligne corp</h6>
            </div>
            <div class="card-body">
                <form [formGroup]="addStructureCorpFormGroup" (ngSubmit)="addStructureCorp()">
                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Designation</label>
                            <input type="text" class="form-control" formControlName="designation">
                            <span class="text-danger" *ngIf="(addStructureCorpFormGroup.controls['designation'].touched &&
                           addStructureCorpFormGroup.controls['designation'].errors) && 
                           addStructureCorpFormGroup.controls['designation'].errors!['required']">
                            Designation est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Type</label>
                            <input type="text" class="form-control" formControlName="type">
                            <span class="text-danger" *ngIf="(addStructureCorpFormGroup.controls['type'].touched &&
                           addStructureCorpFormGroup.controls['type'].errors) && 
                           addStructureCorpFormGroup.controls['type'].errors!['required']">
                                Type est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Taille</label>
                            <input type="text" class="form-control" formControlName="taille">
                            <span class="text-danger" *ngIf="(addStructureCorpFormGroup.controls['taille'].touched &&
                           addStructureCorpFormGroup.controls['taille'].errors) && 
                           addStructureCorpFormGroup.controls['taille'].errors!['required']">
                                Taille est obligatoire
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Table</label>
                            <input type="text" class="form-control" formControlName="table">
                            <span class="text-danger" *ngIf="(addStructureCorpFormGroup.controls['table'].touched &&
                           addStructureCorpFormGroup.controls['table'].errors) && 
                           addStructureCorpFormGroup.controls['table'].errors!['required']">
                                Table est obligatoire
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Champ</label>
                        <input type="text" class="form-control" formControlName="champ">
                        <span class="text-danger" *ngIf="(addStructureCorpFormGroup.controls['champ'].touched &&
                           addStructureCorpFormGroup.controls['champ'].errors) && 
                           addStructureCorpFormGroup.controls['champ'].errors!['required']">
                            Champ est obligatoire
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Commentaire</label>
                        <input type="text" class="form-control" formControlName="commentaire">
                        <span class="text-danger" *ngIf="(addStructureCorpFormGroup.controls['commentaire'].touched &&
                           addStructureCorpFormGroup.controls['commentaire'].errors) && 
                           addStructureCorpFormGroup.controls['commentaire'].errors!['required']">
                            commentaire est obligatoire
                        </span>
                    </div>

                    <div class="form-group">
                        <label>corp Type</label>
                        <select (change)="changeType($event)" class="select" formControlName="corpType">
                            <option value="">Choisir Type</option>
                            <option *ngFor="let corp of CorpType" [ngValue]="corp">
                                {{ corp }}
                              </option>
                            </select>
                        <span class="text-danger" *ngIf=" corpType?.invalid">
                            corpType est obligatoire
                        </span>
                    </div>

                       
                    <div class="row">
                        <div class="form-group col-md-2">
                            <button [disabled]="!addStructureCorpFormGroup.valid" type="submit" class="btn btn-success">
                                Ajouter
                            </button>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-light btn-icon-split" (click)="ViderForm()">Cancel</button>
                        </div>
                    </div>

                    </form>
                    </div>
                    </div>
                    </div>
                    